.pop-block {
  width: 100%;
  height: calc(100% + 36px);
  top: 0px;
  position: absolute;
  z-index: 10001;
}
html body {
  height: 100%;
}
body {
  background: url(../common/img/index_bg.jpg) no-repeat center 0;
  background-size: cover;
}
.selected {
  border-bottom: 2px solid #fff;
}
.home {
  position: relative;
  height: calc(100% - 36px);
}
.home .main {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 36px;
}
.home .main .header {
  overhidden: hidden;
}
.home .main .header .logo {
  float: left;
  height: 50px;
  width: 300px;
  background: url(../common/img/logo.png) no-repeat center 0;
}
.home .main .header .menu {
  float: right;
}
.home .main .header .menu ul {
  overhidden: hidden;
}
.home .main .header .menu ul li {
  float: right;
  color: #fff;
  margin-left: 70px;
  font-size: 20px;
  padding-bottom: 5px;
}
.home .main .header .menu ul li:hover {
  cursor: pointer;
}
.home .main .middle {
  min-height: 800px;
}
.home .main .footer {
  position: absolute;
  bottom: 0px;
  color: #fff;
}
.home .mask {
  width: 100%;
  height: calc(100% + 36px);
  top: 0px;
  position: absolute;
  z-index: 10001;
  background-color: #000;
  opacity: 0.5;
}
.home .pop {
  width: calc(100% - 300px);
  height: calc(100% - 150px);
  top: 0px;
  position: absolute;
  z-index: 10002;
  color: #fff;
  background-color: #fff;
  margin: 100px;
  margin-bottom: 50px;
  opacity: 0.9;
  padding-left: 50px;
  padding-right: 50px;
}
.home .pop h1 {
  color: #6aaedd;
  font-size: 30px;
  margin-top: 100px;
}
.home .pop p {
  color: #333;
  font-size: 14px;
  margin-top: 20px;
  line-height: 150%;
}
.home .pop .colse {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  right: 0px;
  top: 20px;
  background: url(../common/img/Close.png) no-repeat center 0;
}
.home .pop .colse:hover {
  cursor: pointer;
}
